section.section.orther-promotion 
	.container 
		h2.title.title_small.title_small-black Ưu đãi khác
		.row 
			-for(i=1; i<7; i++)
				.col-6.col-md-6.col-lg-4
					.promotion-item 
						.promotion-item_img 
							a(href="promotion-detail.html")
								img(src="./images/promotion/promotion-"+i+".png", alt="") 
						.promotion-item_content 
							.promotion-item_content__title 
								a(href="promotion-detail.html") 
									p Ưu đãi ngập tràn cùng HDBank VISA 8/3
							.promotion-item_content__desc 
								p Bảo vệ sức khoẻ thể chất và tinh thần cho các thành viên gia đình.
			a.loadmore(href="") Tải thêm 
			a.viewmore(href="") Tải thêm 