.more-news-box
    .row.more-news-container
        .col-12
            .more-news-item.top1
                a(href="") 
                    img(src="./images/investor/Card.png", alt="")
                .info-box-container
                    .info-box 
                        a(href="") 
                            span.title-news Cổ phiếu HDBank
        .col-12.col-lg-6.col-xl-6.col-md-6
            .more-news-item
                a(href="") 
                    img(src="./images/investor/Card-1.png", alt="")
                .info-box-container
                    .info-box 
                        a(href="") 
                            span.title-news Cơ cấu cổ đông
        .col-12.col-lg-6.col-xl-6.col-md-6
            .more-news-item
                a(href="") 
                    img(src="./images/investor/Card-2.png", alt="")
                .info-box-container
                    .info-box 
                        a(href="") 
                            span.title-news Xếp hạng tín nhiệm
        .col-12.col-lg-6.col-xl-6.col-md-6
            .more-news-item
                a(href="") 
                    img(src="./images/investor/Card-3.png", alt="")
                .info-box-container
                    .info-box 
                        a(href="") 
                            span.title-news Lịch sử tăng vốn và chia cổ tức
        .col-12.col-lg-6.col-xl-6.col-md-6
            .more-news-item
                a(href="") 
                    img(src="./images/investor/Card-4.png", alt="")
                .info-box-container
                    .info-box 
                        a(href="") 
                            span.title-news Cáo bạch