.investor-top-box
    .row 
        .col-12.col-lg-12.col-xl-12
            .investor_title
                h2.title_big.title_big-black.text-center.investor__title Quan hệ cổ đông
    .row.tabs-list-category
        .col-6.col-lg-4.col-xl-4.col-md-4.item-category
            a(href="")
                .info-box
                    span.name-category Đại hội đồng cổ đông
        .col-6.col-lg-4.col-xl-4.col-md-4.item-category
            a(href="")
                .info-box
                    span.name-category Công bố thông tin
        .col-6.col-lg-4.col-xl-4.col-md-4.item-category
            a(href="")
                .info-box
                    span.name-category Thông cáo báo chí
        .col-6.col-lg-4.col-xl-4.col-md-4.item-category
            a(href="")
                .info-box
                    span.name-category Báo cáo thường niên
        .col-6.col-lg-4.col-xl-4.col-md-4.item-category
            a(href="")
                .info-box
                    span.name-category Báo cáo tài chính
        .col-6.col-lg-4.col-xl-4.col-md-4.item-category
            a(href="")
                .info-box
                    span.name-category Quản trị ngân hàng
