.register-form
    h2.title_big.title_big-black.text-center.investor__title Đăng ký nhận tin tức
    p.description Đăng ký để nhận thông tin định kỳ về kết quả hoạt động của HDBank cùng các thông tin liên quan đến cổ đông, nhà đầu tư.
    .content-form
        form.group-input(action="")
            .form-group
                input.form-control(type="text" placeholder="Email của bạn")
                img.icon(src="./images/investor/icon/Gray_Message.png")
        button.btn.btn-submit.btn-send-email(type="submit")
            span Đăng ký
    .contact-line 
        span.contact-title.item-contact 
            b Phòng quan hệ nhà đầu tư
        .email-box.item-contact
            img.icon(src="./images/investor/icon/Message.png")
            span Email: ir@hdbank.com.vn 
        .hotline-box.item-contact
            img.icon(src="./images/investor/icon/Call.png")
            span Hotline +8428 6291 5669 (Ext 1486)