section.page-banner
    .slide-inner.slide-inner_desktop 
        .slide-inner__img
            img(src="./images/detail-card/banner.png", alt="")
    .slide-inner.slide-inner_mobile 
        .slide-inner__img
            img(src="./images/detail-card/banner-mobile.png", alt="")