.nav-top
	nav
		.container
			.nav-full.d-flex.align-center
				#toggle.btn.btn-toggle 
					span 
					span 
					span 
					span
					span
				a.logo(href="")
					img(src="./images/Logo.png", alt="")
				.language
					.lang-active.d-flex.align-center
						a(href="") 
							img(src="./images/icons/vn.png", alt="")
						#click-toggle.button-click 
							img(src="./images/icons/down.png", alt="")
					ul.drop-down
						li 
							a(href="") 
								img(src="./images/icons/en.png", alt="")
								span EN 
						li 
							a(href="") 
								img(src="./images/icons/jp.png", alt="")
								span 日本 
				button.btn.btn-login(type="submit")
					span Đăng nhập 
					

