.nav-top
	nav
		.container
			.nav-full.d-flex.align-center
				#toggle.btn.btn-toggle 
					span 
					span 
					span 
					span
					span
				a.logo(href="")
					img(src="./images/Logo.png", alt="")
				.language
					.lang-active.d-flex.align-center
						a(href="") 
							img(src="./images/icons/vn.png", alt="")
						#click-toggle.button-click 
							img(src="./images/icons/down.png", alt="")
					ul.drop-down
						li 
							a(href="") 
								img(src="./images/icons/en.png", alt="")
								span EN 
						li 
							a(href="") 
								img(src="./images/icons/jp.png", alt="")
								span 日本 
				button.btn.btn-login(type="submit")
					span Đăng nhập 
header#nav-toggle
	.nav-toggle 
		a.logo(href="") 
			img(src="./images/Logo.png", alt="")
		.search-box
			form(action="", method="post") 
				.form-group
					input.searchinput(type="text", name="inputSearch" placeholder="Tìm kiếm")
					button(type="submit") 
						img(src="./images/icons/search.png", alt="")
		.srcoll-bar
			.login
				.title 
					p Internet banking
				a(href="").btn.btn-login-bar
					|Đăng nhập
				a.sign-in(href="") Đăng ký tài khoản
			.side-navigation-wrap
				ul.side-navigation
					li.active
						.accordion-title
							a(href='') Khách hàng cá nhân 
							em
						ul.nav-sub.show
							li
								a(href="") 
									.icon 
										img(src="./images/icons/money.svg", alt="")
									|Tiền gửi
							li
								a(href="") 
									.icon 
										img(src="./images/icons/card-1.svg", alt="")
									|Thẻ thanh toán
							li
								a(href="") 
									.icon 
										img(src="./images/icons/card-2.svg", alt="")
									|Thẻ tín dụng
							li
								a(href="") 
									.icon 
										img(src="./images/icons/money.svg", alt="")
									|Sản phẩm vay
							li
								a(href="") 
									.icon 
										img(src="./images/icons/save.svg", alt="")
									|Tiết kiệm
							li
								a(href="") 
									.icon 
										img(src="./images/icons/bh.svg", alt="")
									|Bảo hiểm
					li
						.accordion-title
							a(href='') Khách hàng doanh nghiệp
							em
						ul.nav-sub
							li
								a(href="") 
									.icon 
										img(src="./images/icons/money.svg", alt="")
									|Tiền gửi
							li
								a(href="") 
									.icon 
										img(src="./images/icons/card-1.svg", alt="")
									|Thẻ thanh toán
							li
								a(href="") 
									.icon 
										img(src="./images/icons/card-2.svg", alt="")
									|Thẻ tín dụng
							li
								a(href="") 
									.icon 
										img(src="./images/icons/money.svg", alt="")
									|Sản phẩm vay
							li
								a(href="") 
									.icon 
										img(src="./images/icons/save.svg", alt="")
									|Tiết kiệm
							li
								a(href="") 
									.icon 
										img(src="./images/icons/bh.svg", alt="")
									|Bảo hiểm
					li
						.accordion-title
							a(href='') Khách hàng ưu tiên 
							em
					li
						.accordion-title
							a(href='') Nhà đầu tư
							em
					li
						.accordion-title
							a(href='') Cơ hội nghề nghiệp
					li
						.accordion-title
							a(href='') Câu hỏi thường gặp - FAQ
						ul.nav-sub.suport
							li 
								a(href="tel") 
									img(src="./images/icons/phone-line.png", alt="")
									|19006060
							li 
								a(href="") 
									img(src="./images/icons/chat.png", alt="")
									|Chat hỗ trợ trực tuyến
							li 
								a(href="") 
									img(src="./images/icons/mail-line.png", alt="")
									|Gửi email
			.download-app 
				p Tải app HDBank
				.icon.d-flex.align-center
					a(href="") 
						img(src="./images/chplay.png", alt="")
					a(href="") 
						img(src="./images/appstore.png", alt="")
			.socail-list 
				p Kết nối với HDBank
				ul.d-flex.align-center
					li
						a(href="") 
							img(src="./images/icons/face.png", alt="")
					li
						a(href="") 
							img(src="./images/icons/instagram.png", alt="")
					li
						a(href="") 
							img(src="./images/icons/zalo.png", alt="")
					li
						a(href="") 
							img(src="./images/icons/vipper.png", alt="")
					li
						a(href="") 
							img(src="./images/icons/titok.png", alt="")
					li
						a(href="") 
							img(src="./images/icons/twitter.png", alt="")
				p.copy-right Bản quyền @ 2021 thuộc về HDBank  
					

