.support-online
	.support-online-animatiion
		button#modal-open-box-chat.btn.btn-primary(style='display: block;')
			img(src='./images/icons/suport-chat.png')
		#shadow-2.scale-shadow
	#content_chat.content-chat