section.section.utility 
    .container 
        .tabs 
            h1.title.title_small.title_small-black Công cụ tiện ích
            ul.tab-list.d-flex
                li.active(rel="panel-1") Chi nhánh
                li(rel="panel-2") ATM
            .panel.active#panel-1
                .utility-list
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-1.png", alt="")
                            .utility-list_item-content__title 
                                p Ước tính lãi khoản vay
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-1.png", alt="")
                            .utility-list_item-content__title 
                                p Tính lãi tiết kiệm
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-2.png", alt="")
                            .utility-list_item-content__title 
                                p Tỷ giá
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-1.png", alt="")
                            .utility-list_item-content__title 
                                p Tra cứu lãi suất
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-3.png", alt="")
                            .utility-list_item-content__title 
                                p Biểu phí và biểu mẫu
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-6.png", alt="")
                            .utility-list_item-content__title 
                                p Tra cứu sổ tiết kiệm
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-3.png", alt="")
                            .utility-list_item-content__title 
                                p Truy vấn thông tin trái phiếu
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-4.png", alt="")
                            .utility-list_item-content__title 
                                p Truy vấn xác nhận số dư
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-5.png", alt="")
                            .utility-list_item-content__title 
                                p Truy vấn bảo lãnh
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line

            .panel#panel-2
                .utility-list
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-1.png", alt="")
                            .utility-list_item-content__title 
                                p Ước tính lãi khoản vay
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img  
                                img(src="./images/tool/tool-1.png", alt="")
                            .utility-list_item-content__title
                                p Tính lãi tiết kiệm
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img
                                img(src="./images/tool/tool-2.png", alt="")
                            .utility-list_item-content__title
                                p Tỷ giá
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img
                                img(src="./images/tool/tool-1.png", alt="")
                            .utility-list_item-content__title
                                p Tra cứu lãi suất
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-3.png", alt="")
                            .utility-list_item-content__title 
                                p Biểu phí và biểu mẫu
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-6.png", alt="")
                            .utility-list_item-content__title 
                                p Tra cứu sổ tiết kiệm
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-3.png", alt="")
                            .utility-list_item-content__title 
                                p Truy vấn thông tin trái phiếu
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-4.png", alt="")
                            .utility-list_item-content__title 
                                p Truy vấn xác nhận số dư
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line
                    a.utility-list_item(href="") 
                        .utility-list_item-content
                            .utility-list_item-content__img 
                                img(src="./images/tool/tool-5.png", alt="")
                            .utility-list_item-content__title 
                                p Truy vấn bảo lãnh
                            .utility-list_item-content__button 
                                em.ri-arrow-right-s-line