.row.list-categories-box.tabs 
    ul.list-categories.tab-list-categories
        li.item-category.active(rel="panel-1")
            a(href="") Sản phẩm
        li.item-category(rel="panel-2")
            a(href="") Ưu đãi
        li.item-category(rel="panel-1")
            a(href="") Doanh nghiệp
        li.item-category(rel="panel-2")
            a(href="") Đối tác
        li.item-category(rel="panel-1")
            a(href="") Thẻ
        li.item-category(rel="panel-2")
            a(href="") Lazada
        li.item-category(rel="panel-1")
            a(href="") Shopee
        li.item-category(rel="panel-2")
            a(href="") Covid-19