section.section.new-hdbank 
	.container 
		h2.title.title_big.title_big-black Bản tin HDBank
		.new-slide
			.swiper-container
				.swiper-wrapper
					-for(i=1; i<4; i++)
						.swiper-slide
							.slide-inner
								a.img(href="")
									img(src="./images/n-"+i+".jpg", alt="")
								.wrap-content 
									a.name(href="")
										| HDBank chính thức tiếp nhận nguồn tài trợ đóng góp, ủng hộ cho Quỹ vắcxin
									.date-time 
										p 31/10/2021
			.swiper-button-next
			.swiper-button-prev
			.swiper-pagination
			a.btn-viewmore(href="") 
				p Xem tất cả
