section.maintenance-section 
    .page-container 
        .page-content 
            .img 
                img(src="./images/maintenance.png", alt="")
            .page-title 
                h1 Chức năng đang được xây dựng
            .page-content 
                p Rất xin lỗi quý khách vì sự bất tiện này!
            a.btn-login(href="") 
                p Về trang chủ