.btn
	display: inline-block
	font-weight: 400
	text-align: center
	white-space: nowrap
	vertical-align: middle
	user-select: none
	padding: 0 !important
	&-toggle
		margin-left: 0
		cursor: pointer
		position: relative
		padding: 0
		min-width: 30px
		min-height: 20px
		transition: .3s all linear
		span
			display: block
			position: absolute
			height: 3px
			width: 100%
			background: #58595B
			border-radius: 9px
			opacity: 1
			left: 0
			-webkit-transform: rotate(0deg)
			-moz-transform: rotate(0deg)
			-o-transform: rotate(0deg)
			transform: rotate(0deg)
			transition: .5s ease-in-out
			&:nth-child(1)
				top: 0
			&:nth-child(2),
			&:nth-child(3)
				top: 10px
			&:nth-child(4)
				top: 20px
		// &.active
		// 	span
		// 		&:nth-child(1)
		// 			top: 18px
		// 			width: 0%
		// 			left: 50%
		// 		&:nth-child(2)
		// 			-webkit-transform: rotate(45deg)
		// 			-moz-transform: rotate(45deg)
		// 			-o-transform: rotate(45deg)
		// 			transform: rotate(45deg)
		// 		&:nth-child(3)
		// 			-webkit-transform: rotate(-45deg)
		// 			-moz-transform: rotate(-45deg)
		// 			-o-transform: rotate(-45deg)
		// 			transform: rotate(-45deg)
		// 		&:nth-child(4)
		// 			top: 18px
		// 			width: 0%
		// 			left: 50%

	&-login
		position: relative
		width: 176px
		height: 58px
		display: flex
		align-items: center
		border-radius: 50px !important
		border: none
		background-color: $yellow !important
		padding: 16px 24px 16px 24px !important
		transition: all ease-in-out .5s
		span
			display: block
			margin-left: 20px
			font-size: r(18px)
			font-weight: 700
			transition: all ease-in-out .5s
		&::after
			position: absolute
			top: 50%
			right: calc( 100% - 36px )
			transform: translateY(-50%)
			content: "\e87a"
			font-family: Linearicons-Free
			font-size: r(18px)
			font-weight: 700
			transition: all ease-in-out .5s

		&:hover
			background-color: $main !important
			span
				color: $white
				margin-left: 0
			&::after
				right: 16px
				color: $white
	&-login-bar
		padding: r(8px) r(24px) !important
		width: 100%
		background-color: $yellow !important
		border-radius: 50px !important
		align-self: stretch
		font-weight: 500 !important
		font-size: r(18px) !important
		line-height: 26px
		color: $black !important
		transition: all ease-in-out .5s !important
		display: block
		margin-bottom: 20px
		&:hover
			color: $white !important
			background-color: $main !important
