section.section.list-promotion 
	.container 
		h1.title.title_small.title_small_black Tất cả ưu đãi
		.list-tabs 
			ul.tab.d-flex
				li.tab-item
					a.tab-item_link(href="") Ecom
				li.tab-item
					a.tab-item_link(href="") Bảo hiểm
				li.tab-item
					a.tab-item_link(href="") Thẻ tín dụng
				li.tab-item
					a.tab-item_link(href="") Thẻ
				li.tab-item
					a.tab-item_link(href="") Lazada
				li.tab-item
					a.tab-item_link(href="") Shopee
		.row 
			-for(i=1; i<7; i++)
				.col-6.col-md-6.col-lg-4
					.promotion-item 
						.promotion-item_img 
							a(href="promotion-detail.html")
								img(src="./images/promotion/promotion-"+i+".png", alt="") 
						.promotion-item_content 
							.promotion-item_content__title 
								a(href="promotion-detail.html") 
									p Ưu đãi ngập tràn cùng HDBank VISA 8/3
							.promotion-item_content__desc 
								p Bảo vệ sức khoẻ thể chất và tinh thần cho các thành viên gia đình.
			nav.productpager
				ul.pagination
					li.page-item
						a.page-link(href='#')
							img(src="./images/icons/prev.png", alt="")
					li.page-item
						a.page-link(href='#')
							img(src="./images/icons/prev-one.png", alt="")
					li.page-item
						a.page-link(href='#') 1
					li.page-item
						a.page-link(href='#') 2
					li.page-item
						a.page-link(href='#') 3
					li.page-item
						a.page-link(href='#')
							img(src="./images/icons/next-one.png", alt="")
					li.page-item
						a.page-link(href='#')
							img(src="./images/icons/next.png", alt="")
