.title-mobile
    h2.title.title_small.title_small-white Câu hỏi thường gặp
    em.material-icons keyboard_arrow_down
.left-block
    h2.title.title_small.title_small-white Câu hỏi thường gặp
    .side-navigation-wrap
        ul.side-navigation
            li.active
                .accordion-title
                    em.ri-question-fill
                    p Tôi có thể truy cập tài khoản của mình khi đi nước ngoài không?
                    em.ri-arrow-down-s-line
                .nav-sub
                    p Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.
            li
                .accordion-title
                    em.ri-question-fill
                    p Làm thế nào để khôi phục mật khẩu?
                    em.ri-arrow-down-s-line
                .nav-sub
                    p Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.
            li
                .accordion-title
                    em.ri-question-fill
                    p Làm thế nào để khôi phục tên đăng nhập?
                    em.ri-arrow-down-s-line
                .nav-sub
                    p Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.
            li
                .accordion-title
                    em.ri-question-fill
                    p Kết nối mạng của tôi bị lỗi
                    em.ri-arrow-down-s-line
                .nav-sub
                    p Với một thiết bị (máy vi tính để bàn, máy vi tính xách tay, máy vi tính bảng, điện thoại) kết nối mạng Internet, quý khách có thể kết nối với Ngân hàng trực tuyến HDBank và truy cập vào tài khoản của quý khách.
        a.btn-viewmore(href="") 
            span Xem tất cả câu hỏi 