section.section.wrapper-insurance 
    .container 
        .wrapper-container 
            .row
                .col-12.col-md-6.col-xl-6 
                    .wrap-item 
                        .wrap-item_img 
                            img(src="./images/insurance-detail/list-1.png", alt="")
                        .wrap-item_content
                            .wrap-item_content-title 
                                p Đặc tính và Tiện ích
                            .wrap-item_content-desc 
                                ul 
                                    li
                                        p Chấp nhận kết quả chẩn đoán ung thư trên toàn cầu, hỗ trợ điều trị ung thư, chương trình bảo hiểm vượt trội với tổng quyền lợi bảo hiểm lên đến hơn 300% số tiền bảo hiểm.
                .col-12.col-md-6.col-xl-6 
                    .wrap-item 
                        .wrap-item_img 
                            img(src="./images/insurance-detail/list-2.png", alt="")
                        .wrap-item_content
                            .wrap-item_content-title 
                                p Đối tượng khách hàng
                            .wrap-item_content-desc 
                                ul 
                                    li 
                                        p Khách hàng đã tham gia các sản phẩm chính.
                                    li
                                        p 30 ngày tuổi – 60 tuổi.
                .col-12.col-md-6.col-xl-6 
                    .wrap-item 
                        .wrap-item_img 
                            img(src="./images/insurance-detail/list-3.png", alt="")
                        .wrap-item_content
                            .wrap-item_content-title 
                                p Điều khoản
                            .wrap-item_content-desc 
                                ul
                                    li
                                        p Tuổi tham gia của người được bảo hiểm: 30 ngày tuổi – 60 tuổi.
                                    li
                                        p Thời hạn hợp đồng: được tính từ Ngày có hiệu lực của hợp đồng đến ngày kỷ niệm hợp đồng ngay sau khi NĐBH đủ 100 tuổi.
                                    li
                                        p Thời hạn đóng phí: 12 năm, 15 năm hoặc 20 năm.
                .col-12.col-md-6.col-xl-6 
                    .wrap-item 
                        .wrap-item_img 
                            img(src="./images/insurance-detail/list-4.png", alt="")
                        .wrap-item_content
                            .wrap-item_content-title 
                                p Hồ sơ
                            .wrap-item_content-desc
                                ul 
                                    li 
                                        p Quy tắc sản phẩm Bảo hiểm hỗ trợ điều trị bệnh ung thư (K-CARE)
                