form.group-iput(action="")
    .form-group 
        input.form-control(type="text" placeholder="Tìm chi nhánh/ATM")
        button(type="submit")
            em.ri-search-2-line
    .form-group 
        select.form-control(name="") 
            option(value="") TP.Hồ Chí Minh 
            option(value="") Hà Nội 
            option(value="") Đà Nẵng 
    .form-group 
        select.form-control(name="") 
            option(value="") Quận 1 
            option(value="") Quận 2 
            option(value="") Quận 3