section.section.banner-menber 
    .big-banner_desktop 
        img(src="./images/promotion/banner-sign.png", alt="")
        a.btn-login(href="")
            p Đăng ký ngay
    .big-banner_mobile 
        img(src="./images/promotion/banner-sign-mb.png", alt="")