section.news-banner 
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.hero-image
					a(href="") 
						img.desktop(src="./images/news/banner-desktop.png", alt="")
						img.mobile(src="./images/news/banner-mobile.png", alt="")
					.info-box-container
						.container
							.info-box 
								.row 
									.col-12.col-lg-12.col-xl-12
										.top-info 
											.category-name
												span Covid-19
											.date-created
												span 29/11/2021
								.row 
									.col-12.col-lg-8.col-xl-9
										p.news-title HDBank chính thức tiếp nhận nguồn tài trợ đóng góp, ủng hộ cho Quỹ vắcxin Covid-19
							.swiper-pagination