section.section.digital-store 
	.digital-search 
		.container 
			form.form-search(action="", method="post") 
				.form-group 
					h2  Happy Digital Store
					input.form-control(type="text" placeholder="Hôm nay bạn muốn mua gì")
					button.search-icon(type="submit") 
						img(src="./images/icons/search.png", alt="")
	.banner-digital 
		img.lazyload(data-src="./images/digital-banner.jpg", alt="")
	
