section.section.investor-content
    .container-fluid 
        include ../box-1/index.pug
        include ../box-2/index.pug
        include ../box-3/index.pug
        include ../box-4/index.pug
        include ../box-5/index.pug