section.section.hot-line 
    .container 
        .hotline-wrapper 
            .hotline-img 
                img.desktop(src="./images/card-detail/hotline.png", alt="")
                img.mobile(src="./images/card-detail/hotline-mb.png", alt="")
            .hotline-content 
                .icon 
                    span 
                        img(src="./images/icons/phone.png", alt="")
                        |Gọi ngay
                    .number 
                        p 1900 6060 
                .desc 
                    p Tổng đài HDBank luôn sẵn sàng hỗ trợ bạn 24/7