section.section.card-hdbank(setBackground="./images/bg-1.jpg")
	.container 
		h2.title.title_small.title_small-white Thoải mái mua sắm cùng thẻ HDBank
		.single-swiper.desktop 
			.swiper-container 
				.swiper-wrapper 
					.swiper-slide 
						.slide-inner.small-img
							.img-card 
								a(href="") 
									img(src="./images/card-1.png", alt="")
								.icon 
									img(src="./images/repay.png", alt="")
							.title-card 
								a.title(href="") Petrolimex ID 4in1 Tín dụng | Ghi nợ | Trả trước 
								a.btn.btn-login(href="") 
									span Mở thẻ
					.swiper-slide 
						.slide-inner 
							.img-card 
								a(href="") 
									img(src="./images/card-2.png", alt="")
								.icon 
									img(src="./images/repay.png", alt="")
							.title-card 
								a.title(href="") Petrolimex ID 4in1 Tín dụng | Ghi nợ | Trả trước 
								a.btn.btn-login(href="") 
									span Mở thẻ
					.swiper-slide 
						.slide-inner 
							.img-card 
								a(href="") 
									img(src="./images/card-3.png", alt="")
							.title-card 
								a.title(href="") Petrolimex ID 4in1 Tín dụng | Ghi nợ | Trả trước 
								a.btn.btn-login(href="") 
									span Mở thẻ
			.swiper-button-next 
			.swiper-button-prev
			a.btn-view-all(href="") Xem tất cả thẻ
		.slider-card.hidden
			.single-slide
				a(href="") Thẻ tín dụng 
				.swiper-container
					.swiper-wrapper 
						-for(i=1; i<4; i++)
							.swiper-slide 
								.slide-inner 
									.img-card 
										img(src="./images/card-"+i+".png", alt="")
									.title-card 
										a.title(href="") Petrolimex ID 4in1 Tín dụng | Ghi nợ | Trả trước 
										a.btn.btn-login(href="")
											span Mở thẻ
			.single-slide
				a(href="") Thẻ tín dụng 
				.swiper-container
					.swiper-wrapper 
						-for(i=1; i<4; i++)
							.swiper-slide 
								.slide-inner 
									.img-card 
										img(src="./images/card-"+i+".png", alt="")
									.title-card 
										a.title(href="") Petrolimex ID 4in1 Tín dụng | Ghi nợ | Trả trước 
										a.btn.btn-login(href="") Mở thẻ
			.single-slide
				a(href="") Thẻ tín dụng 
				.swiper-container
					.swiper-wrapper 
						-for(i=1; i<4; i++)
							.swiper-slide 
								.slide-inner 
									.img-card 
										img(src="./images/card-"+i+".png", alt="")
									.title-card 
										a(href="") Petrolimex ID 4in1 Tín dụng | Ghi nợ | Trả trước 
									a.btn.btn-login(href="") Mở thẻ