section.section.card-detail 
    .container 
        .wrapper-detail.d-flex
            .wrapper-detail_img
                img(src="./images/card-detail/card-1.png", alt="")
                //- img(src="./images/card-detail/card-0.png", alt="")
            .wrapper-detail_title 
                h1 HDBank Vietjet Visa Platinum
                a.btn-login 
                    p Đăng ký ngay
            .wrapper-detail_content
                ul 
                    li 
                        p Tính năng nổi bật
                        p Miễn phí toàn bộ trong năm đầu tiên
                    li 
                        p Lãi suất
                        p Hưởng lãi suất theo lãi suất không kỳ hạn của Tài khoản thanh toán trong từng thời kỳ
                    li 
                        p Hạn mức
                        p 
                            span 50.000.000 VNĐ/ngày
                    li 
                        p Phí duy trì
                        p 
                            span 25.000 VNĐ/tháng 
                            br 
                            |kể từ năm thứ 2
                    li 
                        a(href="")  Biểu phí và điều kiện
                        a(href="")  Chương trình điểm thưởng