.title-mobile
	h2.title.title_big.title_big-black Mạng lưới chi nhánh/ATM
	em.material-icons keyboard_arrow_down
.right-block
	h2.title.title_big-black Mạng lưới chi nhánh/ATM
	.tabs 
		ul.tab-list.d-flex
			li.active(rel="panel-1") Chi nhánh
			li(rel="panel-2") ATM
		include ./form-group.pug
		#panel-1.panel.active
			.row 
				.col-sm-12.col-lg-6
					ul.panel_list 
						li.panel_list__item
							.panel_list__item-title 
								em.ri-map-pin-fill
								p Hội sở
								img(src="./images/icons/location.png", alt="")
							.panel_list__item-desc 
								p 25bis Nguyễn Thị Minh Khai, P. Bến Nghé Quận 1, Hồ Chí Minh
								p Tel: 1900 6060 | Fax: (028) 62 915 900
						li.panel_list__item
							.panel_list__item-title 
								em.ri-map-pin-fill
								p Chi nhánh Sài Gòn
								img(src="./images/icons/location.png", alt="")
							.panel_list__item-desc 
								p 25bis Nguyễn Thị Minh Khai, P. Bến Nghé Quận 1, Hồ Chí Minh
								p Tel: 1900 6060 | Fax: (028) 62 915 900
						li.panel_list__item
							.panel_list__item-title 
								em.ri-map-pin-fill
								p Chí nhánh Gia Định
								img(src="./images/icons/location.png", alt="")
							.panel_list__item-desc 
								p 25bis Nguyễn Thị Minh Khai, P. Bến Nghé Quận 1, Hồ Chí Minh
								p Tel: 1900 6060 | Fax: (028) 62 915 900
				.col-sm-12.col-lg-6
					.map 
						img(src="./images/promotion/map.png", alt="")
		#panel-2.panel
			.row 
				.col-sm-12.col-lg-6
					ul.panel_list 
						li.panel_list__item
							.panel_list__item-title 
								em.ri-map-pin-fill
								p Hội sở
								img(src="./images/icons/location.png", alt="")
							.panel_list__item-desc 
								p 25bis Nguyễn Thị Minh Khai, P. Bến Nghé Quận 1, Hồ Chí Minh
								p Tel: 1900 6060 | Fax: (028) 62 915 900
						li.panel_list__item
							.panel_list__item-title 
								em.ri-map-pin-fill
								p Chi nhánh Sài Gòn
								img(src="./images/icons/location.png", alt="")
							.panel_list__item-desc 
								p 25bis Nguyễn Thị Minh Khai, P. Bến Nghé Quận 1, Hồ Chí Minh
								p Tel: 1900 6060 | Fax: (028) 62 915 900
						li.panel_list__item
							.panel_list__item-title 
								em.ri-map-pin-fill
								p Chí nhánh Gia Định
								img(src="./images/icons/location.png", alt="")
							.panel_list__item-desc 
								p 25bis Nguyễn Thị Minh Khai, P. Bến Nghé Quận 1, Hồ Chí Minh
								p Tel: 1900 6060 | Fax: (028) 62 915 900
				.col-sm-12.col-lg-6
					.map 
						img(src="./images/promotion/map.png", alt="")
