section.page404(setBackground="../images/producttion/bg.png")
    .page-container 
        .page-title 
            h1 404
            h2 Không tìm thấy trang
        .page-desc 
            p Rất tiếc, chúng tôi không thể tìm thấy trang mà bạn yêu cầu.
            p Có thể bạn sẽ tìm thấy những thông tin hữu ích khác tại trang chủ HDBank.
            a.btn-login(href="") 
                p Về trang chủ