section.banner.banner-investor
    .banner-desktop
        img(src="./images/investor/banner.png", alt="")
    .banner-mobile
        img(src="./images/investor/banner-mb.png", alt="")
    .info-box-container
        .container
            .info-box
                a(href="")
                    h1.banner-title Báo cáo kết quả hoạt động kinh doanh quý