section.home-banner 
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.hero-image
					a(href="") 
						img(src="./images/banner/b-1.jpg", alt="")
					.product-list-slide 
						ul
							li
								a(href="") 
									p TK thanh toán
										br 
										span eKYC
									em.lnr.lnr-chevron-right
							li
								a(href="") 
									p 
										span Mở thẻ 
										|NAPAS 
										br
										|VISA/Master
									em.lnr.lnr-chevron-right
							li
								a(href="") 
									p 
										span Vay
										br
										|trực tuyến
									em.lnr.lnr-chevron-right

			.swiper-slide
				.hero-image
					a(href="") 
						img(src="./images/banner/b-2.jpg", alt="")
					.product-list-slide 
						ul
							li
								a(href="") 
									p 
										span Tài khoản 
										br
										|doanh nghiệp
									em.lnr.lnr-chevron-right
							li
								a(href="") 
									p 
										span Tín dụng 
										br
										|doanh nghiệp
									em.lnr.lnr-chevron-right
							li
								a(href="") 
									p 
										|Công cụ
										br
										span eCMB
										
									em.lnr.lnr-chevron-right
			.swiper-slide
				.hero-image
					a(href="") 
						img(src="./images/banner/b-3.jpg", alt="")
					.product-list-slide 
						ul
							li
								a(href="") 
									p Dịch vụ
										br
										span Trái phiếu
									em.lnr.lnr-chevron-right
							li
								a(href="") 
									p Mua bán
										br
										span Vàng/ngoại tệ
									em.lnr.lnr-chevron-right
							li
								a(href="") 
									p Mua gói
										br
										span Bảo hiểm
									em.lnr.lnr-chevron-right
		.swiper-pagination
	

