section.section.banner-innerhome 
	.swiper-container.big-banner
		.swiper-wrapper 
			.swiper-slide
				.swiper-inner
					.image
						a(href="") 
							img(src="./images/banner-1.jpg", alt="")
			.swiper-slide
				.swiper-inner
					.image
						a(href="") 
							img(src="./images/banner-2.jpg", alt="")
					
		.swiper-pagination
		.swiper-button-next
		.swiper-button-prev
