.banner-innerhome
	padding-bottom: 89px
	.big-banner
		margin-bottom: 42px
		position: relative
		.swiper-inner
			position: relative
			.image
				a
					+img-ratio(696/1440)
			.wrap-content
				position: absolute
				top: 50%
				transform: translateY(-50%)
				left: 12%
				max-width: 957px
				.slide-title
					margin-bottom: 54px
					p
						margin-bottom: 0
						&.small-text
							font-weight: 600
							font-size: r(36px)
							line-height: 112.6%
							color: $black
							@media screen and ( max-width: 1366px )
								font-size: r(26px)
						&.big-text
							font-style: normal
							font-weight: 800
							font-size: r(72px)
							line-height: 112.6%
							color: $main
							@media screen and ( max-width: 1366px )
								font-size: r(62px)
				.list
					padding-left: 0
					li
						padding: 4px 0
						display: flex
						align-items: center
						p
							display: inline-block
							padding-left: 14px
							margin-bottom: 0
							font-weight: 400
							font-size: 20px
							line-height: 29px
							color: $black
							span
								font-weight: 800
							@media screen and ( max-width: 1366px )
								font-size: r(18px)
				.btn-detail
					margin-top: 24px
					display: flex
					justify-content: center
					align-items: center
					padding: 16px 24px
					width: 146px
					height: 58px
					border: 1px solid #333333
					border-radius: 50px
					color: $black
					&::before
						content: '\f1df'
						font-family: Material Icons
						padding-top: 3px
						padding-right: 13px
					@media screen and ( max-width: 1366px )
						height: 48px
						padding: 0 16px
		.swiper-pagination
			position: absolute
			top: auto
			bottom: 10% !important
			left: 16.8%
			width: 112px !important
			text-align: left
			&-bullet
				width: 16px
				height: 16px
				border-radius: 50%
				&:focus
					outline: none !important
		.swiper-pagination-bullet-active
			background: #333 !important
			&:focus
				outline: none !important

		.swiper-button-next,
		.swiper-button-prev
			border: 1px solid $black
			&::before
				color: $black
		.swiper-button-next
			right: 40px !important
		.swiper-button-prev
			left: 40px !important
	.endo-wrap
		position: relative
		.title-wrap
			margin: 0 30px
			display: flex
			align-items: center
			justify-content: space-between
			margin-bottom: 26px
			max-width: 1280px
			margin-left: 125px
			h2
				font-weight: bold
				font-size: 20px
				line-height: 29px
				color: $black
			.btn-all
				font-weight: 500
				font-size: 16px
				line-height: 23px
				color: #BCC0CC
				display: flex
				align-items: center
				&::after
					padding-top: 3px
					padding-left: 3px
					content: '\f1df'
					font-family: Material Icons
					font-size: r(20px)

		.slide-endo
			position: relative
			margin: 0 auto
			max-width: 1280px
			.swiper-container
			.slide-inner
				position: relative
				padding: 24px
				background: $white
				box-shadow: 2px 2px 9px -4px rgba(0, 0, 0, 0.19)
				border-radius: 20px
				border: 1px solid $tran
				transition: all ease-in-out .3s
				.brand
					width: max-content
					padding: 4px 8px
					border-radius: 2px
					margin-bottom: 12px
					span
						font-weight: 500
						font-size: 10px
						color: $white
						text-transform: uppercase
						display: flex
						align-items: center
					&.red
						background: $main
					&.blue
						background: #009DF5
					&.yellow
						background: #FFBB0D
				.wrap-content
					margin-bottom: 12px
					p
						margin-bottom: 0
						font-weight: bold
						font-size: 16px
						line-height: 23px
						color: #333333
				.date-time
					span
						font-weight: 500
						font-size: r(12px)
						line-height: 18px
						color: $black
						opacity: .8
				&:hover
					border: 1px solid #BCC0CC
					box-shadow: 2px 39px 30px -16px rgba(0, 0, 0, 0.21)
			&::after
				position: absolute
				top: 0
				right: -26px
				content: ''
				width: 239px
				height: 260px
				z-index: 2
				pointer-events: none
				background: linear-gradient(90deg, rgba(255, 255, 255, 0) -18.99%, #FFFFFF 49.64%)
