section.priority-user-banner 
	.swiper-container
		.swiper-wrapper
			.swiper-slide
				.hero-image
					a(href="") 
						img.desktop(src="./images/priority-user/Banner/desktop.png", alt="")
						img.mobile(src="./images/priority-user/Banner/mobile.png", alt="")
					//- .info-box-container
					//- 	.container
					//- 		.info-box 
					//- 			.row 
					//- 				.col-12.col-lg-8.col-xl-9
					//- 					p.banner-title Khách hàng doanh nghiệp VIP
					//- 			.row 
					//- 				.col-12.col-lg-12.col-xl-12
					//- 					p.description Đội ngũ tư vấn chuyên biệt luôn luôn sẵn sàng phục vụ quý doanh nghiệp 24/7
				.swiper-pagination