.card-tool-box 
    .card-switcher 
        ul.header-switcher.d-flex.align-center 
            li.active(rel="panel-1")
                | Ước tính khoản vay
            li(rel="panel-2")
                | Quy đổi tỷ giá
        #panel-1.panel.active
            .from-slide-loan
                form(action="", method="post") 
                    .form-group 
                        label(for='amount') Số tiền vay
                        input#amount(type='text' readonly='' value="500 Triệu")
                #slider-range-min
                .range-slider__label
                    .range-slider__label__min
                        span 50 triệu
                    .range-slider__label__max
                        span 1 tỷ
                .period-wraper 
                    table 
                        tr 
                            td Kỳ hạn vay 
                            td Trả hàng tháng 
                        tr 
                            td 
                                .qty-minus
                                    em.material-icons remove
                                input.form-control(type="text" name="year" placeholder="5" value='5')
                                span.input-group-addon năm
                                .qty-plus 
                                    em.material-icons add
                            td 
                                input.form-control(type='text' disabled='' value='8.601.944')
                                span.input-suffix đ
                .btn.btn-login
                    span Tiếp tục
                .desc 
                    p Ví dụ: Số tiền vay 500 triệu - chu kỳ trả trong 60 tháng - lãi suất vay 7%/năm - Tổng tiền phải trả 602.476.200đ - Tổng lãi phải trả 102.476.200đ.
        #panel-2.panel
            form.calculator(action="") 
                .form-group.d-flex
                    .input-slect
                        img(src="./images/icons/jp.png", alt="") 
                        select(name="") 
                            option(value="vn") VN
                            option(value="usd" selected) USD
                    .input-value
                        input(type="text" placeholder="Nhập số tiền")
                .form-group.d-flex
                    .input-slect
                        img(src="./images/icons/vn.png", alt="") 
                        select(name="") 
                            option(value="vn" selected) VN
                            option(value="usd") USD
                    .input-value
                        input(type="text" placeholder="Nhập số tiền")
            .table-box 
                table 
                    tr 
                        td Đồng tiền 
                        td Mua Vào 
                        td Bán ra
                    tr 
                        td 
                            img(src="./images/icons/jp.png", alt="")
                            span USD
                        td 22,650
                        td 22,850
                    tr 
                        td 
                            img(src="./images/icons/vn.png", alt="")
                            span VND 
                        td --
                        td --
                .desc 
                    p Cập nhật lúc 13:54 ngày 01/11/2021
    #from-slide.from-slide-advise
        ul.header-advise.d-flex.align-center 
            li 
                em.lnr.lnr-arrow-left
            li 
                p Đăng ký tư vấn
        ul.nav-list.d-flex.align-center
            li 
                p Số tiền 
                p 500 triệu 
            li 
                p Kỳ hạn vay 
                p 5 năm
            li 
                p Trả mỗi tháng 
                p 8.601.944
        form.from-slide(action="", method="post") 
            .form-group 
                span.fas.fa-user
                input.form-control(type="text" placeholder="Họ và tên")
            .form-group 
                span.fas.fa-phone-alt
                input.form-control(type="text" placeholder="Số điện thoại")
            .form-group 
                span.fas.fa-envelope
                input.form-control(type="text" placeholder="Email")
            button.btn.btn-login(type="submit") 
                span Đăng ký
