section.section.product-hdbank
	.container 
		h1.title.title_big  Các sản phẩm tại HDBank
		ul#list.d-flex.align-center
			li.active
				a(href="") 
					|Cá nhân
			li
				a(href="#sec-4") 
					|Doanh nghiệp
		.list-product.d-flex.align-center
			-for(i=1; i < 9; i++)
				.item 
					.icon 
						img(src="./images/icons/pro-"+i+".png", alt="")
					.content 
						p Sản phẩm tiền gửi
			
