section.section.card-hdbank(setBackground="./images/bg-1.jpg")
	.container
		h2.title.title_small.title_small-white Thoải mái mua sắm cùng thẻ HDBank

		.block-desktop
			.slide-card
				h3 Thẻ tín dụng HDBank
				.swiper-container
					.swiper-wrapper 
						-for(i=1; i<4; i++)
							.swiper-slide 
								.slide-inner 
									.img-card 
										a(href="") 
											img(src="./images/card/card-mb-"+i+".png", alt="")
											.icon 
												img(src="./images/repay.png", alt="")
									.title-card 
										a.name(href="") HDBank Napas Debit 
										a.btn.btn-login(href="") 
											p Mở thẻ
				.swiper-button-next 
				.swiper-button-prev
			.slide-card
				h3 Thẻ ghi nợ HDBank
				.swiper-container
					.swiper-wrapper 
						-for(i=4; i<9; i++)
							.swiper-slide 
								.slide-inner 
									.img-card 
										a(href="") 
											img(src="./images/card/card-mb-"+i+".png", alt="")
											.icon 
												img(src="./images/repay.png", alt="")
									.title-card 
										a.name(href="") HDBank Napas Debit 
										a.btn.btn-login(href="") 
											p Mở thẻ
				.swiper-button-next 
				.swiper-button-prev
			.slide-card
				h3 Thẻ Napas HDBank
				.swiper-container
					.swiper-wrapper 
						-for(i=9; i<11; i++)
							.swiper-slide 
								.slide-inner 
									.img-card 	
										a(href="") 
											img(src="./images/card/card-mb-"+i+".png", alt="")
											.icon 
												img(src="./images/repay.png", alt="")
									.title-card 
										a.name(href="")  HDBank Napas Debit 
										a.btn.btn-login(href="") 
											p Mở thẻ
				.swiper-button-next 
				.swiper-button-prev
		a.btn-view-all(href="") Xem tất cả thẻ