ul.list-news 
    li.item-news
        .news-left-box
            a(href="")
                img(src="./images/news/news1.png")
        .news-right-box 
            a(href="")
                p.news-title HDBank khẳng định vị thế top 5 ngân hàng uy tín nhất Việt Nam thiệu khách hàng tham gia chương trình ưu đãi
            p.news-description Ngân hàng TMCP Phát triển TP. Hồ Chí Minh (HDBank - mã chứng khoán: HDB)
            p.news-date 29/11/2021
    li.item-news
        .news-left-box
            a(href="")
                img(src="./images/news/news2.png")
        .news-right-box 
            a(href="")
                p.news-title Ưu đãi ngập tràn ngày 8/3 cùng thẻ HDBank VISA
            p.news-description Khách hàng cá nhân đăng ký thành công "Cộng tác viên" và thực hiện giới thiệu khách hàng tham gia chương trình ưu đãi
            p.news-date 29/11/2021
    li.item-news
        .news-left-box
            a(href="")
                img(src="./images/news/news3.png")
        .news-right-box 
            a(href="")
                p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
            p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
            p.news-date 29/11/2021
    li.item-news
        .news-left-box
            a(href="")
                img(src="./images/news/news4.png")
        .news-right-box 
            a(href="")
                p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
            p.news-description HDBank (HoSE: HDB) triển khai việc nâng cấp áp dụng tiêu chuẩn Basel II lên Basel III....
            p.news-date 29/11/2021
    li.item-news
        .news-left-box
            a(href="")
                img(src="./images/news/news5.png")
        .news-right-box 
            a(href="")
                p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
            p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
            p.news-date 29/11/2021
    li.item-news.item-news-loadmore
        .news-left-box
            a(href="")
                img(src="./images/news/news3.png")
        .news-right-box 
            a(href="")
                p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
            p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
            p.news-date 29/11/2021
    li.item-news.item-news-loadmore
        .news-left-box
            a(href="")
                img(src="./images/news/news4.png")
        .news-right-box 
            a(href="")
                p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
            p.news-description HDBank (HoSE: HDB) triển khai việc nâng cấp áp dụng tiêu chuẩn Basel II lên Basel III....
            p.news-date 29/11/2021
    li.item-news.item-news-loadmore
        .news-left-box
            a(href="")
                img(src="./images/news/news5.png")
        .news-right-box 
            a(href="")
                p.news-title HDBank tiếp tục tăng trưởng cao và bền vững giữa đại dịch
            p.news-description Theo bà Nguyễn Thị Phương Thảo - Phó Chủ tịch thường trực HĐQT HDBank, 2021...
            p.news-date 29/11/2021