section.section.promotion-detail 
	h1.title.title_small.title_small-black.title_small-bg NGÀN ƯU ĐÃI - VẠN LỜI THƯƠNG
	.container 
		.wrapper-content 
			h2 
				img(src="./images/icons/cacalendar.png", alt="")
				|Thời gian ưu đãi
			p 
				|Từ ngày 
				b 17/10/2021 
				|đến ngày
				b 20/10/2021
			h2 
				img(src="./images/icons/user.png", alt="")
				|Đối tượng áp dụng
			p 
				|Tất cả Khách hàng cá nhân là 
				b PHỤ NỮ 
				|có 
				b tài khoản thanh toán 
				|(TKTT) và thực hiện các 
				b giao dịch hợp lệ 
				|trên App HDBank.
			h2 
				img(src="./images/icons/checkbox.png", alt="")
				|Nội dung chương trình
			h3 ⭐ ƯU ĐÃI 1
			p Hoàn 
				b 50% giá trị giao dịch 
				| (Tối đa 50.000 đồng) vào TKTT cho 
				b 300 Khách hàng đầu tiên/ngày 
				|khi thực hiện giao dịch hợp lệ trên App HDBank mỗi ngày trong thời gian diễn ra chương trình. 
			h3 ⭐ ƯU ĐÃI 2
			p Tặng 
				b 1.000.000 đồng cho
				b 20 Khách hàng/ngày 
				|có tổng doanh số giao dịch hợp lệ cao nhất trên App HDBank vào ngày 
				b 20/10. 
			p Chương trình như lời tri ân, thể hiện cam kết luôn mang đến lợi ích cao nhất của HDBank đến toàn thể Quý Khách hàng.
			h3 ♦️ ĐIỀU KIỆN CHUNG
			p -  Khách hàng có tài khoản thanh toán thực hiện giao dịch tài chính hợp lệ trên App HDBank 

			h4 -  Đối với Ưu đãi 1: 
			p + Mỗi TKTT/CIF chỉ nhận được khuyến mại 1 lần/ngày trong thời gian diễn ra chương trình. 
			p + Áp dụng cho các giao dịch có giá trị tối thiểu 100.000 đồng/giao dịch, và theo quy định sau: 
			p * Giờ Vàng 12h-14h ngày 17/10/2021 - Áp dụng cho giao dịch Nạp tiền điện thoại 
			p * Từ 07h-23h59 ngày 18/10/2021 - Áp dụng cho giao dịch Thanh toán hóa đơn sinh hoạt 
			p * Từ 07h-23h59 ngày 19/10/2021 - Áp dụng cho giao dịch Thanh toán QRCode 
			p * Từ 07h-23h59 ngày 20/10/2021 - Áp dụng cho giao dịch Nạp tiền điện thoại, Thanh toán hóa đơn, Thanh toán QRCode 

			h4 -  Đối với Ưu đãi 2: 
			p + Mỗi TKTT/CIF chỉ nhận được khuyến mại 1 lần duy nhất vào ngày 20/10. 
			p + Giao dịch hợp lệ là giao dịch Nạp tiền điện thoại, Thanh toán hóa đơn sinh hoạt, Thanh toán QRCode được thực hiện từ 07h - 23h59 ngày 20/10/2021 với số tiền giao dịch tối thiểu 100.000 đồng/gd 
			p + Tổng doanh số giao dịch tối thiểu 3.000.000 đồng trong thời gian diễn ra chương trình. 
			p -  Khách hàng tham gia chương trình có thể nhận đồng thời 2 ưu đãi 
			p -  Các giao dịch bị hủy, có tranh chấp, được hoàn lại hoặc có khả nghi gian lận sẽ bị trừ ra khỏi danh sách hưởng ưu đãi. 
			p -  Thể lệ chi tiết chương trình: 
				a(href="")  Xem tại đây
		.socail-list 
			p Chia sẻ
			ul.d-flex
				li
					a(href="")
						img(src="./images/icons/face.png", alt="")
				li
					a(href="")
						img(src="./images/icons/instagram.png", alt="")
				li
					a(href="")
						img(src="./images/icons/zalo.png", alt="")
				li
					a(href="")
						img(src="./images/icons/whatapp.png", alt="")
				li
					a(href="")
						img(src="./images/icons/titok.png", alt="")
				li
					a(href="")
						img(src="./images/icons/vipper.png", alt="")
				li
					a(href="")
						img(src="./images/icons/twitter.png", alt="")
		.list-tab
			ul.d-flex
				li
					a(href="")
						p Ecom
				li
					a(href="")
						p Bảo hiểm
				li
					a(href="")
						p Thẻ tín dụng
				li
					a(href="")
						p Thẻ
				li
					a(href="")
						p Lazada
				li
					a(href="")
						p Shopee

