.highlight-news-content-box
    .row
        h2.title_big.title_big-black.text-center.investor__title Thông tin hoạt động nổi bật
        .swiper-container
            .swiper-wrapper
                .swiper-slide
                    .hero-image
                        a(href="") 
                            img(src="./images/investor/banner-activity.png", alt="")
                        .info-box-container
                            .container
                                .info-box 
                                    .row 
                                        .col-12.col-lg-12.col-xl-12
                                            .top-info 
                                                .category-name
                                                    span Nổi bật
                                                .date-created
                                                    span 29/11/2021
                                    .row 
                                        .col-12.col-lg-12.col-xl-12
                                            a.link-title(href="")
                                                p.news-title HDBank, Proparco ký kết hợp tác 100 triệu USD tài trợ các dự án Xanh
                                .swiper-pagination
        
        a.review-all-link(href="") 
                span Xem tất cả
                //- img.icon(src="./images/investor/icon/Arrow_Right.png")