section.maintenance-section 
    .page-container 
        .logo 
            img(src="./images/Logo.png", alt="")
        .page-content 
            .img 
                img(src="./images/maintenance.png", alt="")
            .page-title 
                h1 Website đang bảo trì
            .page-content 
                p Chúng tôi sẽ sớm quay trở lại.
                p Rất xin lỗi quý khách vì sự bất tiện này!
            a.btn-login(href="") 
                p Hotline 1900 6060
