.product-hdbank
	ul
		justify-content: center
		padding-left: 0
		margin-bottom: 48px
		li
			a
				padding: 14px 50.4px
				background: #FFFFFF
				border: 1.4px solid #B1B5C9
				box-sizing: border-box
				border-radius: 0px 12px 12px 0px
				font-weight: 800
				font-size: r(19.6px)
				line-height: 29px
				color: $black
				transition: all ease-in-out .5s
			&:first-child
				a
					border-radius: 12px 0px 0px 12px
			&:hover
				a
					background: $yellow
			&.active
				a
					color: $white
					background: $main
	.list-product
		justify-content: space-between
		.item
			text-align: center
			.icon
				margin-bottom: 12px
			.content
				padding: 0 30px
				p
					font-weight: 500
					font-size: 16px
					line-height: 23px
					text-align: center
					color: #000000
